/* body{
    background-image: url("images/5400.jpg");
    color: #ffffff;
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
label{
    color: #ffffff;
} */
.side-pictures{
    margin: 5px;  
}